<h1>Мои проекты</h1>

<table class="all-projects">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td class="accept-check"><%= check_box_tag 'accept'%></td>
        <td><%= link_to cl_image_tag("CompareProjects/Pen-4-icon-2.png", :width=>30, :crop=>"scale"), edit_project_path(project) %></td>
        <td><%= link_to cl_image_tag("CompareProjects/crash.png", :width=>30, :crop=>"scale"), project, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Сравнить проекты', root_path, class: "btn btn-primary compare-projs" %>
