<!DOCTYPE html>
<html>
  <head>
    <title>ProjectEvaluation</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    
    <div id="container">
      <div id="logo"><%= link_to "LOGO", root_path %></div>
      <ul class="nav justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мой кабинет</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Проекты</a>
          <a class="dropdown-item" href="#">История сравнений</a>
          <%= link_to "Настройки", edit_user_registration_path, class: "dropdown-item" %>
          
          <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Справка", get_reference_path, class: "nav-link" %>
      </li>
    </ul>
    </div>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
    
    <div id="footer">Информация об авторе</div>
  </body>
</html>
