<div class="link_to_steps">
  <div class="current_step"><%= link_to "главный проект", compare_project_path(:assign_main), method: :get %></div> 
  <div><%= link_to "оценивание", compare_project_path(:compare_projects), method: :get %></div>
  <div><%= link_to "расчет приоритетов", compare_project_path(:set_criteria_priorities), method: :get %></div>
  <div><%= link_to "результат", compare_project_path(:get_global_ratings), method: :get %></div>
</div>

<p>---</p>


<%= form_for @compare_projects, url: compare_project_path(:compare_projects), method: :get do |f| %>

<%= f.hidden_field :current_step, value: "compare_projects" %>

<table class="all-projects">
  
  <tbody>
    <% @compare_projects.projects.each do |project| %>
      <tr>
        <td class="project-name-field">
            <%= project.name %>
        </td>
        <td class="accept-check">
          <%= f.radio_button "main_project_id", project.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<br>

<%= f.submit "Далее", class: "btn btn-primary compare-projs"%>
  <% end %>

<p>---</p>
