<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Главный проект</li>
    <li class="breadcrumb-item">Оценка главных аспектов BOCR</li>
    <li class="breadcrumb-item">Оценка индивидуальных аспектов</li>
    <li class="breadcrumb-item">Оценивание проектов</li>
    <li class="breadcrumb-item">Результат</li>
  </ol>
</nav>

<div class="alert alert-danger">
  <% if params[:commit] == "Далее" %>
    <%= @compare_projects.errors.messages[:main_project_id].first if @compare_projects.errors.any? %>
  <% end %>
  </div>

<%= form_for @compare_projects, url: compare_project_path(:compare_bocr), method: :get, class: "compare-proc" do |f| %>

  <%= f.hidden_field :current_step, value: session[:last_step] %>

<table class="all-projects">
  <tbody>
    <% @compare_projects.projects.each do |project| %>
      <tr>
        <td class="project-name-field">
            <%= project.name %>
        </td>
        <td class="accept-check">
          <%= f.radio_button "main_project_id", project.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= f.submit "Далее", class: "btn btn-primary compare-projs"%>
  <% end %>
