<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Главный проект", compare_projects_path(id: :assign_main, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Оценка главных аспектов BOCR", compare_projects_path(id: :compare_bocr, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Оценка индивидуальных аспектов", compare_projects_path(id: :compare_aspects, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Оценивание проектов</li>
    <li class="breadcrumb-item">Результат</li>
  </ol>
</nav>

<%= form_for @compare_projects, url: compare_project_path(:get_global_ratings), method: :get, class: "compare-proc" do |f| %>
  
  <%= f.hidden_field :current_step, value: session[:last_step] %>

<table class="proj-range">
  <tbody>
    <% @compare_projects.aspects.each do |key, val| %>
      <% val.each do |asp| %>
      <tr class="<%= key.to_s %>">
        <td><%= asp.name%></td>
        <% @compare_projects.minor_prj.each do |project| %>
          <td>
            <%= @compare_projects.main_prj.name %>
            <%= f.range_field "[project_values][#{project.id}][#{val.name.downcase}][#{asp.name}]", value: "[]", in: -9..8, step: 1 %>
            <%= f.label "#{project.name}" %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= f.submit "Поставить оценки проектам" %>
<% end %>
