<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Главный проект", compare_projects_path(id: :assign_main, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Оценка главных аспектов BOCR</li>
    <li class="breadcrumb-item">Оценка индивидуальных аспектов</li>
    <li class="breadcrumb-item">Оценивание проектов</li>
    <li class="breadcrumb-item">Результат</li>
  </ol>
</nav>

<%= form_for @compare_projects, url: compare_project_path(:compare_aspects), method: :get, class: "compare-proc" do |f| %>
  
  <%= f.hidden_field :current_step, value: session[:last_step] %>
  <table class="proj-range">
    <tbody>
      <% @compare_projects.aspects.keys[1..@compare_projects.aspects.length].each do |bocr_asp| %>
        <tr class="<%= bocr_asp.to_s %>">
          <td> 
            <div class="main_aspect">
              <p><%= @compare_projects.aspects.keys.first.to_s %></p>
            </div>
            <div class="container">
              
              <div class="range-slider">
                <span class="rangeText">1</span>
                <%= f.range_field "[bocr_values][#{bocr_asp.to_s}]", value: "[]", in: -8..8, class: "rangeInput" %>
                </div>
              <div class="box-minmax">
                <span>1/9</span><span>9</span>
              </div>
            </div>
            <div class="minor_aspect">
              <p><%= bocr_asp.to_s %></p>
            </div>
          </td>
        </tr> 
      <% end %>
      
    </tbody>
  </table>

<%= f.submit "Поставить оценки основным BOCR-аспектам" %>

<% end %>