<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Главный проект</li>
    <li class="breadcrumb-item">Оценка главных аспектов BOCR</li>
    <li class="breadcrumb-item active" aria-current="page">Оценка индивидуальных аспектов</li>
    <li class="breadcrumb-item">Оценивание проектов</li>
    <li class="breadcrumb-item">Результат</li>
  </ol>
</nav>

<p><%= @bocr_priorities %></p>

<%= form_for @compare_projects, url: compare_project_path(:compare_projects), method: :get, class: "compare-proc" do |f| %>

<table class="my-table">
  <tbody>
    <% @compare_projects.aspects.each_pair do |key, values| %>
      <% if values.count > 1 %>
      <tr>  
        <td> <%= key %> </td>
        <td> 
          <% values.each_with_index do |val, index| %>
          
            <% if index == 0 %>
              <%= f.hidden_field "[aspects_priorities][#{key}][#{val.name}]", value: "0" %>
            <% else %>
              <p>
                <%= values.first.name %>
                <%= f.range_field "[aspects_priorities][#{key}][#{val.name}]", value: "[]", in: -9..8, step: 1 %>
                <%= val.name %>
              </p> 
            <% end %>
          <% end %>
        </td>
      </tr>
    
      <% elsif values.count == 1 %>
        <% values.each_with_index do |val, index| %>
          <%= f.hidden_field "[aspects_priorities][#{key}][#{val.name}]", value: "0" %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= f.submit "Поставить оценки аспектам" %>
<% end %>
