<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Главный проект", compare_projects_path(id: :assign_main, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Оценка главных аспектов BOCR", compare_projects_path(id: :compare_bocr, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Оценка индивидуальных аспектов", compare_projects_path(id: :compare_aspects, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Оценивание проектов", compare_projects_path(id: :compare_projects, compare_project: session[:compare_project]), method: :get %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Результат</li>
  </ol>
</nav>

<div class="grafic">
  <% @projects_priorities_and_global_result[2].each_pair do |criteria, value| %>
    <%= criteria %>
    <%= pie_chart value %>
  <% end %>
</div>

<h1>Результаты</h1>
<div class="new_compare_project">
  <%= column_chart @projects_priorities_and_global_result.first %>
<p>Мультипликативная свертка</p>

<%= column_chart @projects_priorities_and_global_result.second %>
<p>Аддитивная свертка</p>
</div>
